<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.7827782332107138" radius="0.6353090846796617"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.7827782332107138" radius="0.6353090846796617"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.9925645147254278"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
