<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.9899509478210129" radius="0.07442800418758666"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.9899509478210129" radius="0.07442800418758666"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.017228056813158723"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="11">
		<visual>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="6.281300540076709"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="12">
		<visual>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="6.281300540076709"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="13">
		<visual>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.9998" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="6.281300540076709"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<joint name="11_to_0" type="revolute">
		<parent link="0"/>
		<child link="11"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="6.872725223157084 4.5149731222587555 2.5172888752092613" xyz="0.9999 0.9999 0.6228456641508013"/>
	</joint>
	<joint name="12_to_0" type="revolute">
		<parent link="0"/>
		<child link="12"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="10.309087834735626 4.5149731222587555 2.5172888752092613" xyz="0.9999 0.9999 0.6228456641508013"/>
	</joint>
	<joint name="13_to_0" type="revolute">
		<parent link="0"/>
		<child link="13"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="13.745450446314168 4.5149731222587555 2.5172888752092613" xyz="0.9999 0.9999 0.6228456641508013"/>
	</joint>
</robot>
