<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.9999" radius="0.19101218751194338"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.9999" radius="0.19101218751194338"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.1146116058470627"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="11">
		<visual>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.12562601080153418"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="12">
		<visual>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.12562601080153418"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="13">
		<visual>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.9999" radius="0.19998000000000002"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.12562601080153418"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="24">
		<visual>
			<geometry>
				<cylinder length="0.18572363406517922" radius="0.16092560939485884"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.18572363406517922" radius="0.16092560939485884"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.01511010110913815"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<joint name="11_to_0" type="revolute">
		<parent link="0"/>
		<child link="11"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="12.565113977297736 5.337894333820069 6.282556988648868" xyz="0.0 0.0 0.849915"/>
	</joint>
	<joint name="12_to_0" type="revolute">
		<parent link="0"/>
		<child link="12"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="18.847670965946605 5.337894333820069 6.282556988648868" xyz="0.0 0.0 0.849915"/>
	</joint>
	<joint name="13_to_0" type="revolute">
		<parent link="0"/>
		<child link="13"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="25.130227954595473 5.337894333820069 6.282556988648868" xyz="0.0 0.0 0.849915"/>
	</joint>
	<joint name="24_to_0" type="revolute">
		<parent link="0"/>
		<child link="24"/>
		<axis xyz="0 0 1"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="20.43656384850038 5.446621470180249 4.900426046421999" xyz="0.0 0.0 0.2392827255488844"/>
	</joint>
</robot>
