<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.6333881189217591" radius="0.4428958457276394"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.6333881189217591" radius="0.4428958457276394"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.39032197152658354"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
